/* ==========================================================================
   Auth Module specific styles
   ========================================================================== */

.auth-expired-alert {
    background: rgba(245, 158, 11, 0.1) !important;
    border-color: rgba(245, 158, 11, 0.2) !important;
    color: #b91c1c !important;
}
